<html ng-app="clientApp">
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="/static/clientapp.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <ul class="nav">
      {% for list in lists %}
      <li><a>{{ list.name }}</a></li>
      <ul>
        {% for f in list.files %}
        {% if f.endswith('.cnv') %}
        <li><a href="" ng-click="select('/video/{{list}}/conv/{{f}}')" class="ellipsize" title="{{ f }}">{{ f }}</a></li>
        {% else %}
        <li><a href="" ng-click="select('/video/{{list}}/{{f}}')" class="ellipsize" title="{{ f }}">{{ f }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    </ul>
    <div class="content">
      <video name="media" controls player>
        <source src="/video/{{ list }}/{{ files[0] }}" />
      </video>
    </div>
  </body>
</html>
