<html ng-app="clientApp">
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="/static/clientapp.js"></script>
  </head>
  <body ng-controller="MainCtrl" ng-init="list='{{list}}'; files={{files}}">
    {% raw %}
    <ul class="nav">
      <li ng-repeat="f in files">
        <a href="" ng-click="select(list, f)" class="ellipsize" title="{{ f.file }}"
          ng-class="{true: 'green'}[f.ready]">{{ f.file }}</a>
      </li>
    </ul>
    <div class="content">
      <video name="media" controls player>
        <!--<source src="/video/{{ list }}/{{ files[0] }}" />-->
      </video>
    </div>
    {% endraw %}
  </body>
</html>
